* {
    border: none;
    font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font Mono", "Symbols Nerd Font", monospace;
    font-size: 13px;
    min-height: 0;
    transition: all .18s ease;
}

window#waybar {
    background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
    background: rgba(12,12,12,.82);
    border: 1px solid rgba(212,175,55,.12);
    border-radius: 15px;
    margin: 6px;
    padding: 0 8px;
}

#custom-menu,
#cpu,
#memory,
#temperature,
#network,
#tray,
#custom-weather,
#clock,
#custom-power,
#custom-taskbar-arrow {
    color: #BDBDBD;
    padding: 0 10px;
}

#custom-menu:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#network:hover,
#tray:hover,
#custom-weather:hover,
#custom-taskbar-arrow:hover {
    color: #D4AF37;
}

#custom-menu {
    font-size: 18px;
}

#workspaces {
    padding: 0 2px;
}

#workspaces button {
    background: transparent;
    color: #666;
    font-size: 17px;
    padding: 0 5px;
    border-radius: 8px;
}

#workspaces button.active {
    color: #D4AF37;
}

#workspaces button:hover {
    color: #D4AF37;
    background: transparent;
}

#wlr-taskbar button {
    background: transparent;
    border-radius: 10px;
    padding: 0 6px;
}

#wlr-taskbar button:hover {
    background: rgba(212,175,55,.12);
}

#wlr-taskbar button.active {
    background: rgba(212,175,55,.18);
}

#custom-taskbar-arrow {
    font-size: 18px;
}

#custom-prev,
#custom-play-pause,
#custom-next {
    color: #BDBDBD;
    font-size: 18px;
    min-width: 30px;
    min-height: 30px;
    margin: 4px 2px;
    border-radius: 999px;
}

#custom-prev:hover,
#custom-play-pause:hover,
#custom-next:hover {
    color: #D4AF37;
    background: rgba(212,175,55,.12);
}

#custom-play-pause {
    color: #D4AF37;
    font-size: 20px;
}

#clock {
    color: #D4AF37;
    font-weight: bold;
}

#custom-power {
    color: #8E0E18;
    font-size: 18px;
}

#custom-power:hover {
    color: #D4AF37;
}

#pulseaudio-slider {
    padding: 0 10px;
}

#pulseaudio-slider slider {
    min-width: 8px;
    min-height: 8px;
    background: #D4AF37;
    border-radius: 999px;
}

#pulseaudio-slider trough {
    min-width: 80px;
    min-height: 4px;
    background: rgba(255,255,255,0.08);
    border-radius: 999px;
}

#pulseaudio-slider highlight {
    background: #D4AF37;
    border-radius: 999px;
}

tooltip {
    background: rgba(15,15,15,.97);
    border: 1px solid #D4AF37;
    color: #ECECEC;
    border-radius: 10px;
}

#temperature.critical {
    color: #ff5555;
}

#network.disconnected {
    color: #ff5555;
}

#custom-volume {
    color: #BDBDBD;
    font-size: 17px;
    padding: 0 8px;
}

#custom-volume:hover {
    color: #D4AF37;
}

#mpris {
    color: #BDBDBD;
    padding: 0 8px;
}

#mpris:hover {
    color: #D4AF37;
}